anatomía del corazón.pdf
Avances-del-análisis-de-ECG-usando-ML.pdf
biblia signal processing.pdf
Bishop-Pattern-Recognition-and-Machine-Learning-2006.pdf
cita_señal_II_es_mejor.pdf
ECG libro.pdf
ECG-classification-with-Random-Forest.pdf
Foundations of ML.pdf
inteligencia artificial - libro.pdf
ML Machine Learning-A Probabilistic Perspective.pdf
notas.txt
Codigos/df_datos_tiempos.csv
Codigos/df_datos_voltajes.csv
Codigos/imagen_ecg.py
**.ipynb_checkpoints/
imagenes/
original_databases/
venv/
versiones/
Codigos/Datos_Leonel/
Codigos/pruebas/
Codigos/splits
Codigos/ptbxl_database.csv
teoria random forest.pdf
paper - datos.pdf
procesamiento de señales.docx
Codigos/Pruebas.ipynb
